BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
UseTab: Never
PointerAlignment: Right
AccessModifierOffset: 0
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Always
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: false
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: true
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IndentCaseBlocks: true
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 2
  BinaryMinDigits: 5
  Decimal: 3
  DecimalMinDigits: 5
  Hex: 2
  HexMinDigits: 6
LineEnding: DeriveLF
MaxEmptyLinesToKeep: 2
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
SpaceAfterCStyleCast: true
SpacesInCStyleCastParentheses: false
SpaceAroundPointerQualifiers: Both